:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  accent-color: #00d8e0;
}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #00d8e0;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  text-align: center;
  margin-top: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  text-align: center;
}
#app:has(input:focus ) .logo {
  filter: drop-shadow(0 0 2em #00d8e0aa);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #00d8e0aa);
}

.card {
  padding: 2em;
}

.read-info {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #00d8e0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

fieldset {
  border: 1px solid #2e2d2d;
  background: #202020;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 10px 0;
}
fieldset > *:not(:last-child) {
  margin-bottom: 15px;
}
.form-control {
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  width: 100%;
}
.form-label {
  display: block;
  margin-bottom: 0.5rem;
}
#result:has(pre:empty){
  display: none;
}
#result {
  background: #54e3601c;
  padding: 20px;
  margin-top: 2rem;
  border-radius: 10px;
  border: 1px solid #54e36094;
}

.w-100 {
  width: 100%;
}
.m-0 {
  margin: 0;
}
.mt-1 {
  margin-top: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
