.dcf__hidden{
    display: none !important;
}
.dcf__animated{
    animation: dcf__appear 0.5s ease-in-out 1;
    transition-property: display, max-height;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
    max-height: 1000px;
}
.dcf__animated.dcf__hidden{
    animation: dcf__disappear 0.5s ease-in-out 1;
    max-height: 0;
}
@keyframes dcf__appear {
    from { opacity: 0; max-height: 0; }
    to { opacity: 1; max-height: 1000px; }
}
@keyframes dcf__disappear {
    from { opacity: 1; max-height: 1000px; display: block!important; }
    to { opacity: 0; max-height: 0; display: none!important; }
}